@page
@model Moga_Larisa_proiect.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.Nume" class="control-label"></label>
                <input asp-for="Appointment.Nume" class="form-control" />
                <span asp-validation-for="Appointment.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Prenume" class="control-label"></label>
                <input asp-for="Appointment.Prenume" class="form-control" />
                <span asp-validation-for="Appointment.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Serviciu" class="control-label"></label>
                <input asp-for="Appointment.Serviciu" class="form-control" />
                <span asp-validation-for="Appointment.Serviciu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Telefon" class="control-label"></label>
                <input asp-for="Appointment.Telefon" class="form-control" />
                <span asp-validation-for="Appointment.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.PublishingDate" class="control-label"></label>
                <input asp-for="Appointment.PublishingDate" class="form-control" />
                <span asp-validation-for="Appointment.PublishingDate" class="textdanger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
