@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SMILE-Dental</h1>
    <p>Cabinetul nostru este dotat cu echipament modern și performant. Astfel, încă de la prima consultație construim relația medic-pacient, răspunzând nevoilor dumneavoastră prin conceperea unui plan de tratament complet și cu rezultate durabile.</p>
    <h2>Serviciile noastre:</h2>
    <p>Consultație</p>
    <p>Detartraj</p>
    <p>Obturație</p>
    <p>Extirpare</p>
    <p>Implant dentar</p>
    <h2>Contact</h2>
    <p>S.C. SMILE-Dental S.R.L</p>
    <p>Str. Axente Sever 2, Bistrița 420163, România</p>
    <p>Telefon: 0263234234</p>
    <p>Email: office@smile-dental.ro</p>

</div>
