@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Declarația privind protecția datelor a S.C. SMILE-Dental S.R.L. se bazează pe termenii utilizați de legiuitorul european pentru adoptarea Regulamentului general privind protecția datelor (GDPR). Declarația noastră privind protecția datelor trebuie să fie lizibilă și ușor de înțeles pentru publicul larg, precum și pentru clienții și partenerii noștri de afaceri.</p>
<p>Datele personale înseamnă orice informație referitoare la o persoană fizică identificată sau identificabilă („persoana vizată”).</p>
<p>Prelucrearea sau procesarea este orice operațiune sau set de operațiuni care se efectuează pe date personale sau pe seturi de date cu caracter personal, indiferent dacă sunt sau nu prin mijloace automate, precum colectarea, înregistrarea, organizarea, structurarea, stocarea, adaptarea sau modificarea, recuperarea, consultarea, divulgarea prin transmitere, diseminare sau punerea la dispoziție în alt mod, alinierea sau combinarea, restricționarea, ștergerea sau distrugerea.</p>
